---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script></head>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details and Summary Example</title>
    <style>
        summary {
            cursor: pointer; /* 鼠标悬停时显示为手形 */
            font-weight: bold; /* 字体加粗 */
            text-decoration: underline; /* 添加下划线 */
            padding: 0; /* 移除内边距 */
            border: none; /* 移除边框 */
            background: none; /* 移除背景 */
            color: #4682B4; /* 默认字体颜色 Steel Blue */
        }

        summary:hover {
            color: #7B68EE; /* 悬停时改变文字颜色 Medium Slate Blue */
        }
    </style>
</head>




<br>
<p>
  <b>Dec 26, 2024</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>From Graph Neural Networks to Simplicial Attention Networks</summary>
  <ul>
    <li>
      aaa
    </li>
    
    <li>
      <a href="../files/2024-12-26-talk.pdf" target="_blank">Slides</a>
    </li>

    <li>
      Reference:
      <li>
        asd
      </li>
      <li>
        asd
      </li>
    </li>
  </ul>
</details>




<br>
<p>
  <b>Dec 23, 2024</b>, Graduate Topology Seminar, Sustech
</p>
<details>
  <summary>Harder-Narasimhan Filtrations of Persistence Modules</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2024-12-23-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>




<br>
<p>
  <b>Apr 18, 2024</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>An Introduction to Multi-Parameter Persistence</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2024-04-18-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>




<br>
<p>
  <b>Apr 03, 2023</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Interleaving Distances Between Persistence Modules</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2023-04-03-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>




<br>
<p>
  <b>Oct 10, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Reports on Video Data</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-10-10-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>



<br>
<p>
  <b>Sep 05, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Progress Report on Topological Analysis of Video</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-09-05-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>





<br>
<p>
  <b>Aug 08 & 22, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Multi-Parameter Persistence</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-08-08-talk.pdf" target="_blank">Slides I</a>,
      <a href="../files/2022-08-22-talk.pdf" target="_blank">Slides II</a>
    </li>
    
    <li>
      Gunnar Carlsson, Afra Zomorodian, The theory of multidimensional persistence
    </li>

    <li>
      Afra Zomorodian, Gunnar Carlsson, Computing persistent homology
    </li>
    
    <li>
      Wanying Bi, Jingyan Li, Jian Liu, Jie Wu, On the Cayley-persistence algebra
    </li>
  </ul>
</details>







<br>
<p>
  <b>Jul 18, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Progress Report and Specific Operation of GUDHI</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-07-18-talk.pdf" target="_blank">Slides</a>
    </li>

    <li>
      GUDHI
    </li>
  </ul>
</details>







<br>
<p>
  <b>Jul 11, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Theoretical Foundation of Sliding Window Embedding</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-07-11-talk.pdf" target="_blank">Slides</a>
    </li>

    <li>
      Floris Takens, Detecting strange attractors in turbulence
    </li>

    <li>
      Jose A. Perea, John Harer, Sliding Windows and Persistence: An Application of Topological Methods to Signal Analysis
    </li>
    
  </ul>
</details>







<br>
<p>
  <b>Apr 18 & 25 and May 4, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Algebraic Topology and Database</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2022-04-18-talk.pdf" target="_blank">Slides</a>
    </li>

    <li>
      Smith Abraham D; Bendich Paul; Harer John, Persistent obstruction theory for a model category of measures with applications to data merging
    </li>
  </ul>
</details>






<br>
<p>
  <b>Mar 14, 2022</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Persistent Homology, Sliding Window Embedding and Time Series</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>
    
    <li>
      <a href="../files/2022-03-14-talk.pdf" target="_blank">Slides</a>
    </li>
    
    <li>
      Jose A. Perea, Topological time series analysis
    </li>

    <li>
      Saba Emrani, Thanos Gentimis, and Hamid Krim, Persistent homology of delay embeddings and its application to wheeze detection
    </li>
  </ul>
</details>



<br>
<p>
  <b>May 17, 2021</b>, Graduate Topology Seminar, Sustech
</p>
<details>
  <summary>Rational homotopy theory</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>
    
    <li>
      <a href="../files/2021-05-17-talk.pdf" target="_blank">Slides</a>
    </li>
    
    <li>
      Yves Félix, Stephen Halperin, and Jean-Claude Thomas, Rational homotopy theory
    </li>
  </ul>
</details>



<br>
<p>
  <b>Apr 26, 2021</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>More on Reproducing Wheeze Detection via Persistent Homology; Subsampling Through Landmarks and Witness Complexes</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>
    
    <li>
      <a href="../files/2021-04-26-talk.pdf" target="_blank">Slides</a>
    </li>
    
    <li>
      Vin de Silva and Gunnar Carlsson, Topological estimation using witness complexes
    </li>
  </ul>
</details>






<br>
<p>
  <b>Apr 12, 2021</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>More on Sliding Window Embeddings, Persistent Homology, and Applications to Audio Signal Processing</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>
    
    <li>
      <a href="../files/2021-04-12-talk.pdf" target="_blank">Slides</a>
    </li>
    
    <li>
      Hitesh Gakhar and Jose A. Perea, Sliding window persistence of quasiperiodic functions
    </li>
  </ul>
</details>




<br>
<p>
  <b>Mar 8, 2021</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Stability of Persistence</summary>
  <ul>
    <li>
      xxxxxxxxxx
    </li>

    <li>
      <a href="../files/2021-03-08-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>


<br>
<p>
  <b>Mar 1, 2021</b>, Applied and Computational Topology Seminar, Sustech
</p>
<details>
  <summary>Topological Morphology Descriptors and Persistence Images</summary>
  <ul>
    <li>
      In the first lecture, we will begin by reviewing some basic concepts of classical differential geometry like curvature and torsion within the context of three-dimensional 
      Euclidean space. Then we will briefly recall the structure theorems pertaining to curves and surfaces. Following this foundation, we will concentrate on the properties and 
      classifications of ruled surfaces and developable surfaces. We will then proceed to demonstrate several explicit examples that are naturally derived from discriminant varieties 
      of polynomial equations, highlighting some intriguing generalizations along the way.
    </li>
    
    <li>
      <a href="../files/2021-03-01-talk.pdf" target="_blank">Slides</a>
    </li>
  </ul>
</details>



